{% extends 'shop/basic.html' %}


{% block title %}  this is about title {% endblock  %}
{% block body %}  
<main role="main">

  
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">MY CART</h1>
        <p>is an e-commerce platform that sells clothes. The ecommerce platform is the most visited website in the world... </p>
      
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>ABOUT US</h2>
          <p> is an online retailer and web service provider. The company provides products. It also provides related support services, including home delivery and shipping, cloud web hosting and other web related services</p>
          
        </div>
        <div class="col-md-4">
          <h2>Track Your Package</h2>
          <p>You can find tracking information in your order details. If an order includes multiple items, each may have separate delivery dates and tracking information.</p>
          <p><a class="btn btn-secondary" href="/shop/tracker/" role="button">Track now &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Help! </h2>
          <p> For any query facing regarding the product or refund or exchange policy  you may contact us. We will try our best to resolve that issue and satify the customer with thier product.  </p>
          <p><a class="btn btn-secondary" href="/shop/contact/" role="button">Contact now &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>

{% endblock  %}  